@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
}

.ant-drawer-header{
  display: none !important;
}


span.ant-layout-sider-zero-width-trigger.ant-layout-sider-zero-width-trigger-left {
  display: none !important;
}
